@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.woff2') format('woff2'),
		url('../fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@mixin bg() {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin container($max-width, $padding) {
	width: 100%;
	max-width: #{$max-width};
	padding: 0 #{$padding};
	margin: 0 auto;
}

@mixin font($fm, $fw, $fz, $ln, $cl) {
	font-family: $fm;
	font-weight: $fw;
	font-size: $fz;
	line-height: $ln;
	color: $cl;
}
