<section class="advantages">
    <div class="advantages__wrapper">
      <div class="advantages__wrapper-item">
        <div class="container">
          <div class="advantages-box">
            <picture class="advantages-image">
               <source srcset="./img/advantages-1.webp" type="image/webp">
               <img src="./img/advantages-1.png" alt="advantages image" />
            </picture>
            <div class="advantages__text">
              <h2 class="advantages__text-title title">Call Tracking</h2>
              <h3 class="advantages__text-subtitle">With their phones in their hands, kids are always on calls with their friends. But how can you be sure if the person on the other end is a good influence? Are they the right kind of people for your child to be with? Find out with TeenSafe’s call tracking feature.</h3>

            </div>
          </div>
        </div>
      </div>
      <div class="advantages__wrapper-item">
        <div class="container">
          <div class="advantages-box">
            <picture class="advantages-image">
               <source srcset="./img/advantages-2.webp" type="image/webp">
               <img src="./img/advantages-2.png" alt="advantages image 2" />
            </picture>
            <div class="advantages__text">
              <h2 class="advantages__text-title title">Message Monitoring</h2>
              <h3 class="advantages__text-subtitle">With so many messaging apps, kids are always talking to their friends. Sometimes, it becomes essential to monitor these conversations, and you can do so with TeenSafe. You can use it to monitor messages, SMS, and social media conversations. </h3>

            </div>
          </div>
        </div>
      </div>
      <div class="advantages__wrapper-item">
        <div class="container">
          <div class="advantages-box">
            <picture class="advantages-image">
               <source srcset="./img/advantages-3.webp" type="image/webp">
               <img src="./img/advantages-3.png" alt="advantages image 3 " />
            </picture>
            <div class="advantages__text advantages__text--top">
              <h2 class="advantages__text-title title">GPS Location</h2>
              <h3 class="advantages__text-subtitle">Teensafe’s GPS tracking feature allows you to ensure that your child arrives at their destination safely. You can also set restricted zones using the app’s Geofencing capability.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
