<section class="section__auth auth">
  <div class="auth__container container">
    <form action="#" method="post" class="auth__form auth">
      <div class="auth__title title">
        <h2 class="auth__title-text text">Change Password</h2>
      </div>
      <div class="auth__group-сolumn сolumn">
        <div class="auth__group group">
          <label class="auth__group-title" for="email"
            >Your Current Account Password:</label
          >
          <input
            class="auth__group-text"
            type="email"
            name="email"
            placeholder="Your email"
          />
        </div>
        <div class="auth__group group">
          <label class="auth__group-title" for="email">New password*:</label>
          <input
            class="auth__group-text"
            type="Password"
            name="Password"
            placeholder="Password"
          />
        </div>
        <div class="auth__group group">
          <label class="auth__group-title" for="password"
            >Confirm Your New Account Password:</label
          >
          <input
            class="auth__group-text"
            type="Password"
            name="Password"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="auth__button">
        <button type="button" value="Button" class="btn auth__button-text text">
          Save
        </button>
      </div>
    </form>
  </div>
</section>
