<section class="section__auth auth">
  <div class="auth__container container">
    <form action="#" method="post" class="auth__form auth">
      <div class="auth__title title">
        <h2 class="auth__title-text text">Log in</h2>
      </div>
			<div class="auth__group-сolumn сolumn">
				<div class="auth__group group">
					<label class="auth__group-title" for="email">Your Email Address:</label>
					<input
						class="auth__group-text"
						type="email"
						name="email"
						placeholder="Your email"
					/>
				</div>
				<div class="auth__group group">
					<label class="auth__group-title" for="password">Your password:</label>
					<input
						class="auth__group-text"
						type="Password"
						name="Password"
						placeholder="Password"
					/>
				</div>
				<div class="auth__group-forgot forgot">
					<div class="auth__group-forgot-checkbox">
						<input class="auth__group-forgot-input-checkbox" type="checkbox" name="checkbox" />
						<label class="auth__group-forgot-text" for="text">Remember Me</label>
					</div>
					<div class="auth__group-forgot-password">
						<a href="#" class="auth__group-forgot-password-text">Forgot Password?</a>
					</div>
				</div>
			</div>
      <div class="auth__button">
        <button type="button" value="Button" class="btn auth__button-text text">
					Log in
        </button>
      </div>
      <div class="auth__account account">
        <p class="auth__account-text text">Don't have an account yet?</p>
        <a href="#" class="auth__account-link link">Sign up now!</a>
      </div>
    </form>
  </div>
</section>
