<section class="section__auth auth">
  <div class="auth__container container">
    <form action="#" method="post" class="auth__form auth">
      <div class="auth__form-block">
        <h2 class="auth__title title">Create your account</h2>
        <div class="auth__group group">
          <label class="auth__group-title" for="email"
            >Your Email Address:</label
          >
          <input
            class="auth__group-text"
            type="email"
            name="email"
            placeholder="Your email"
          />
        </div>
        <div class="auth__group auth__group_one group">
          <label class="auth__group-title" for="password">Your password:</label>
          <input
            class="auth__group-text"
            type="Password"
            name="Password"
            placeholder="Password"
          />
        </div>
        <div class="auth__button">
          <button type="button" value="Button" class="auth__button-text btn text">
            Sign Up Free
          </button>
        </div>
        <div class="auth__account account">
          <p class="auth__account-text text">Already have an account?</p>
          <a href="#" class="auth__account-link link">Log in</a>
        </div>
      </div>
    </form>
  </div>
</section>
