<section class="section__auth auth">
  <div class="auth__container container">
    <form action="#" method="post" class="auth__form auth">
      <div class="auth__title title">
        <h2 class="auth__title-text text">Forgot Password?</h2>
      </div>
      <div class="auth__subtitle">
        <p class="auth__subtitle-text">
          Please type in the email address you used to log into
          https://teensafe.net. After you submit the request, we will send you a
          password reset link.
        </p>
      </div>
      <div class="auth__group-сolumn сolumn">
        <div class="auth__group group">
          <input
            class="auth__group-text"
            type="email"
            name="email"
            placeholder="Your email"
          />
        </div>
      </div>
      <div class="auth__button">
        <button type="button" value="Button" class="btn auth__button-text text">
          Log in
        </button>
      </div>
      <div class="auth__account account">
        <p class="auth__account-text text">Return to</p>
        <a href="#" class="auth__account-link link">Sign in</a>
      </div>
    </form>
  </div>
</section>
