<section class="blog-section">
  <div class="container">
    <h1 class="price-title title">Blog</h1>
    <h2 class="price-subtitle">Enjoy Our Blog Now!</h2>
  </div>
  <div class="blog-inner">
    <div class="container">
      <div class="blog__items-wrapper">
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
This Privacy Policy applies to the operations of https://teensafe.net, and the company is here referred to as "Our Website".            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
Our users can access our website without a requirement to provide personal data. However, when you buy our software,             <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>
        <div class="blog__items-item">
          <div class="blog__items-item--top">
            <picture class="blog__image">
                <source srcset="./img/blog-notebook.webp" type="image/webp">
                <img src="./img/blog-notebook.png" alt="notebook image">
            </picture>
            <div class="blog-single-item__title">
              Remote Text Message Monitor
            </div>
          </div>
          <div class="blog__items-item--text__wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            <div class="blog__items-item--text__footer">
              <div class="blog-items-left">
                <div class="blog-item-date"> 29.9.21</div>
                <div class="blog-item-comments"><picture class="blog__image">
                    <source srcset="./img/comment.webp" type="image/webp">
                    <img src="./img/comment.png" alt="notebook image">
                </picture><span>10</span></div>
              </div>
              <a href="/single.html" class="blog-item--read"><svg width="20" height="20" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0607 0.939339C12.4749 0.353554 11.5251 0.353554 10.9393 0.939339L1.3934 10.4853C0.80761 11.0711 0.80761 12.0208 1.3934 12.6066C1.97918 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.939339ZM13.5 35L13.5 2L10.5 2L10.5 35L13.5 35Z" fill="#269dd5"/>
              </svg></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
