<section class="main__section main">
	<div class="container">
		<div class="main__inner">
			<div class="main__inner-top">
				<div class="main__inner-left">
					<h1 class="main__inner-title">
						Крафтовые лакомства для собак
					</h1>
					<p class="main__inner-subtitle">
						Всегда свежие лакомства ручной работы с доставкой по России и Миру
					</p>
					<button class="main__inner-button">
						Каталог
					</button>
				</div>
				<picture class="main__inner-img">
					<source srcset="../../img/main.webp">
					<img src="../../img/main.png" alt="main">
				</picture>
			</div>
			<ul class="main__features-item">
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/sets.svg" alt="sets">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Наборы</p>
					</div>
				</li>
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/treats.svg" alt="treats">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Лакомства</p>
					</div>
				</li>
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/accessories.svg" alt="accessories">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Аксессуары</p>
					</div>
				</li>
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/toys.svg" alt="toys">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Игрушки</p>
					</div>
				</li>
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/hornc.png" alt="hornc">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Рога</p>
					</div>
				</li>
				<li class="main__features-list">
					<div class="main__features-list__img">
						<img src="../../img/oils.svg" alt="oils">
					</div>
					<div class="main__features-list__description">
						<p class="main__features-list__description-text">Масла</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="main__section main">
	<div class="container">

	</div>
</section>