<section class="section__privacy privacy">
  <h1 class="privacy__title">TeenSafe Privacy Policy</h1>
  <div class="privacy__inner">
    <div class="privacy__inner-container container">
      <div class="privacy__inner-description">
        <p class="privacy__inner-description-text">
          This Privacy Policy applies to the operations of https://teensafe.net,
          and the company is here referred to as "Our Website". The company's
          collection of user data and the process involved is explained in this
          privacy policy.
        </p>
      </div>
      <div class="privacy__inner-title">
        <h2 class="privacy__inner-title-text">
          Our Use of the Personal Information You Provide
        </h2>
        <div class="privacy__inner-des">
          <p class="privacy__inner-des-text">
            Our users can access our website without a requirement to provide
            personal data. However, when you buy our software, after installing
            same on your personal devices, you will be prompted to enter in user
            details. Billing method and mode of payment, which you select,
            provides us with data like your names, location address, email
            address as well as credit card or other payment credentials. Your
            mode of payment provides details to the payment processor which is
            not available to us.
          </p>
          <p class="privacy__inner-des-text">
            Our welcome email is sent to you after your payment is processed and
            proof is received by us. Our first message to you conveys your login
            verification and password needed to access our website. Whenever you
            make any request or inquiries, we are able to reply your queries
            through your email address or preferred contact method.
          </p>
          <p class="privacy__inner-des-text">
            It is important that you take note that any information required
            from you at anytime is needed to enhance your user experience on our
            website. Failure to provide the required details may limit your user
            experience.
          </p>
          <p class="privacy__inner-des-text">
            While we endeavor to safeguard your personal data as provided to us
            on your own accord, it is also vital to let you know that we do not
            share these details with third parties except you so authorize. When
            you provide your data on our website, they are password provided,
            and this requires that you safeguard your password from unauthorized
            access.
          </p>
          <p class="privacy__inner-des-text">
            You are advised to make sure that whenever you access our website
            from shared computers that you take steps to ensure that you sign
            out after such times. This step is necessary to avoid any
            unauthorized access of your personal data. The management of the
            login and password to our website is your personal responsibility.
          </p>
          <p class="privacy__inner-des-text">
            Opt-in commercial publicity from third parties requires that we
            communicate same to you via emails. If you do not want to receive
            such, you are free to opt-out at any time. Each email message from
            us in this regard, includes a opt-out footnote that incorporates a
            link to click or a box to check to let us know that you do not want
            any more commercial notifications.
          </p>
        </div>
      </div>
    </div>
		</div>
  </div>
</section>
