<section class="promo">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__info">
        <h1 class="promo__title title">Cell Phone Monitoring For Parents and Employers </h1>
        <h2 class="promo__subtitle subtitle">With TeenSafe, you can easily monitor your kids’ mobile phones. You can get information about their location, who they’re calling, their messages, and much more. </h2>
        <div class="platforms-wrapper">
          <span>Available for:</span>
          <a href="" class="platforms__link"><img src="./img/apple.svg" alt="apple" class="platforms-wrapper__img"></a>
          <a href="" class="platforms__link"><img src="./img/android.svg" alt="android" class="platforms-wrapper__img"></a>
        </div>
        <div class="intro__btns-wrapper">
          <a href="" class="btn transparent-btn">View Demo</a>
          <a href="" class="btn">Sign Up Free</a>

        </div>
      </div>
    <picture>
       <source srcset="./img/intro-img.webp" type="image/webp">
       <img src="./img/intro-img.png" alt="intro image" />
    </picture>
    </div>
  </div>
</section>
