<section class="section__blog">
<div class="container">
    <div class="blog__all-items">
      <div class="table">
        <div class="table__title">
            <h3>Table of content</h3>
        </div>
        <ul class="table__items">
            <li><a class="table__item" href="#">Call Tracker</a></li>
            <li><a class="table__item" href="#">Message Monitor</a></li>
            <li><a class="table__item" href="#">Instagram Spy</a></li>
            <li><a class="table__item" href="#">Viber Instagram</a></li>
            <li><a class="table__item" href="#">Track SIM Location</a></li>
            <li><a class="table__item" href="#">Message Monitor</a></li>
            <li><a class="table__item" href="#">Instagram Spy</a></li>
            <li><a class="table__item" href="#">Viber Instagram</a></li>
            <li><a class="table__item" href="#">Track SIM Location</a></li>
        </ul>
    </div>
<div class="blog">
    <div class="blog__title">
        <h1>Remote Text Message Monitor</h1>
    </div>
    <div class="blog__update">
        <p class="blog__update-date">Last Updated: September 29, 2021 by Franklin Byrant</p>
        <p class="blog__update-comments">10 Comments</p>
    </div>
    <div class="blog__article-title">
        <h2>Our Use of the Personal Information You Provide</h2>
    </div>
    <div class="blog__article-text">
        <p>This Privacy Policy applies to the operations of https://teensafe.net,
            and the company is here referred to as
            "Our Website". 
            The company's collection of user data and the process involved is explained in this privacy policy.
        </p>
    </div>
    <picture class="blog__image">
        <source srcset="./img/blog-notebook.webp" type="image/webp">
        <img src="./img/blog-notebook.png" alt="notebook image">
    </picture>
    <div class="blog__article-text">
        <p>Our users can access our website without a requirement to provide personal data. However, when you buy our software, 
            after installing 
            same on your personal devices, you will be prompted to enter in user details. Billing method and mode of payment, 
            which you select, provides us with data like your names, location address, email address as well as credit card or 
            other payment credentials. Your mode of payment provides details to the payment processor which is not available to us.
        </p>
        <p>Our welcome email is sent to you after your payment is processed and proof is received by us. Our first message to you 
            conveys your login verification and password needed to access our website. Whenever you make any request or inquiries, 
            we are able to reply your queries through your email address or preferred contact method.
            It is important that you take note that any information required from you at anytime is needed to enhance your user 
            experience on our website. Failure to provide the required details may limit your user experience.
        </p>
        </div>
    
        </div>
    </div>
</div>
<!--  -->
<div class="blog__comments" style="background-image: url(img/bg.png);">
    <div class="container">
    <div class="blog__comments-inner">
    <div class="blog__article-title blog__comments-article">
        <h2>0 thoughts on “Remote Text Message Monitor”</h2>
    </div>
    <div class="blog__comments-user">
        <div class="blog__comments-avatar">
            <a href="#">
                <picture class="comment__image">
                    <source srcset="./img/avatar.webp" type="image/webp">
                    <img src="./img/avatar.png" alt="avatar image">
                </picture>
            </a>
        </div>
        <div class="blog__comments-user__info">
            <div class="user__info-name">
                <a href="#">
                    User name
                </a>
            </div>
            <div class="user__info-date">12. April 2020 um 16:06 Uhr</div>
        </div>
    </div>
    <div class="blog__comments-moderation">
        <div class="blog__comments-moderation__title">
            <h4>Your comment is awaiting moderation</h4>
        </div>
        <div class="blog__comment">
            <p>great post, thanks</p>
            <div class="button">
                <a href="#" class="btn-link">Reply</a>
            </div>
           </div>
         </div>
         <div class="blog__article-title blog__comments-article blog__user-title">
            <h2>Comments</h2>
        </div>
        <div class="blog__user-1">
        <div class="blog__user">
            <div class="blog__user-name">
                <a href="#">
                    User name 1
                </a>
            </div>
            <div class="blog__user-date">12. April 2020 um 16:06 Uhr</div>
            <div class="blog__user-text">
                <p>Our users can access our website without a requirement to provide personal data. 
                   However, when you buy our software, 
                   after installing same on your personal devices, you will be prompted to enter in user details</p>
                </div>
                <div class="button">
                    <a href="#" class="btn-link">Reply</a>
                </div>
        </div>
    </div>
    <div class="blog__user-2">
        <div class="blog__user">
            <div class="blog__user-name">
                <a href="#">
                    User name 1
                </a>
            </div>
            <div class="blog__user-date">12. April 2020 um 16:06 Uhr</div>
            <div class="blog__user-text">
                <p>Our users can access our website without a requirement to provide personal data. 
                   However, when you buy our software, 
                   after installing same on your personal devices, you will be prompted to enter in user details</p>
                </div>
                <div class="button">
                    <a href="#" class="btn-link">Reply</a>
                </div>
            </div>
    </div>
        <div class="blog__user-reply">
            <div class="blog__user blog__user-comment__reply">
                <div class="user__reply">
                    <div class="blog__user-name">
                      <a href="#">
                        Anonimous
                      </a>
                    </div>
                    <div class="blog__user-name--reply">
                        <a href="#">
                            User name 1
                        </a>
                      </div>
                </div>
                <div class="blog__user-date">12. April 2020 um 16:06 Uhr</div>
                <div class="blog__user-text">
                    <p>Our users can access our website without a requirement to provide personal data. 
                       However, when you buy our software, 
                       after installing same on your personal devices, you will be prompted to enter in user details</p>
                    </div>
                    <div class="button">
                        <a href="#" class="btn-link">Reply</a>
                    </div>
                </div>
            </div>
            <div class="blog__article-title blog__comments-article blog__user-title">
                <h2>Leave a Comment</h2>
            </div>
            <form action="#">
                <input class="input__form" type="text" name="username" value="" placeholder="Name">
                <input class="input__form" type="email" name="email" value="" placeholder="Email">
                <div class="form__text">
                    <textarea name="text" placeholder="Leave a Comment"></textarea>
                </div>
                <div class="form__checkbox">
                    <label class="label">
                        <input type="checkbox" class="checkbox" name="save" value="">
                        <span class="fake"></span>
                        <span class="form-text">Save my name and email in this browser for the next time I comment</span>
                    </label>
                </div>
                <div class="form__button">
                    <a href="#" class="btn__form">
                        Post Comment
                    </a>
                </div>
            </form>
      </div>
   </div>
   
</div>
</section>