<section class="steps">
  <div class="container">
    <h2 class="title center-title">Start Monitoring in 3 Simple Steps</h2>
    <div class="steps-items__wrapper">
      <div class="steps-items__item">
        <div class="steps-items__round">1</div>
        <picture>
           <source srcset="./img/step-1.webp" type="image/webp">
           <img class="steps-items__img" src="./img/step-1.png" alt="step 1" />
        </picture>
        <div class="steps-items__info">
          <h3 class="steps-items__info--title">
            Sign Up Free
          </h3>
          <p class="steps-items__info--subtitle">
            Sign up for a free TeenSafe Account with an existing email ID.
          </p>
        </div>
      </div>
      <div class="steps-items__item">
        <div class="steps-items__round">2</div>
        <picture>
           <source srcset="./img/step-2.webp" type="image/webp">
           <img class="steps-items__img" src="./img/step-2.png" alt="step 2" />
        </picture>
        <div class="steps-items__info">
          <h3 class="steps-items__info--title">
            Install TeenSafe
          </h3>
          <p class="steps-items__info--subtitle">
            Choose between Android and iOS and install the app by following the instructions given. The process just takes a few minutes.
          </p>
        </div>
      </div>
      <div class="steps-items__item">
        <div class="steps-items__round">3</div>
        <picture>
           <source srcset="./img/step-3.webp" type="image/webp">
           <img class="steps-items__img" src="./img/step-3.png" alt="step 3" />
        </picture>
        <div class="steps-items__info">
          <h3 class="steps-items__info--title">
            Begin Monitoring
          </h3>
          <p class="steps-items__info--subtitle">
            Once the app is installed, log into the dashboard and start monitoring the device. 
          </p>
        </div>
      </div>
    </div>
    <a href="" class="btn">Learn More</a>
  </div>
</section>
