* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	cursor: pointer;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}
img {
	vertical-align: top;
	object-fit: cover;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

.container {
	@include container(1030px, 15px);
}

.main__section {
	min-height: 70vh;
	padding: 40px 0 0 0;
	background-image: url(../img/fon.jpg);
	@include bg();
}

.main {
	margin: 96px 0 0 0;
}

$color__light-orange: #FED700;
$color__light-gray: #7B8E98;
$color__light-white: #ffffff;
$color__light-white_two: #CFD8DC;

$color__night-black: #1A1A1A;

$font__nunito: Nunito;

