*,
*::before,
*::after {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

$blue-color: #269DD5;
$text-color: #152640;
$hover-color: #072B62;

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
	font-family: Inter;
	color: #152640;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1440px;
	width: 100%;
	padding: 0 150px;
	display: block;
	margin: 0 auto;
}


.btn {
		font-family: "Inter", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		padding: 14px 40px 14px 41px;
		background-color: $blue-color;
		cursor: pointer;
		box-shadow: 0px 0px 20px rgba(17, 148, 210, 0.31);
		border-radius: 4px;
		border: 2px solid $blue-color ;

		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: #072b62;
			border: 2px solid $hover-color ;

			transition: all 0.3s ease-in-out;
		}
		&:focus {
			background-color: #072b62;
			border: 2px solid $hover-color ;

			transition: all 0.3s ease-in-out;
		}
}


.transparent-btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: $blue-color;
	padding: 14px 40px 14px 41px;
	background-color: transparent;
	filter: drop-shadow(0px 4px 14px rgba(34, 150, 204, 0.4));
	border-radius: 4px;
	border: 2px solid $blue-color ;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
		border: 2px solid $hover-color ;
		color: $hover-color;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
	}
	&:focus {
		border: 2px solid $hover-color ;
		color: $hover-color;
		transition: all 0.3s ease-in-out;
		background-color: transparent
	}
}

.title {
	font-size: 2.5rem;
}
.center-title {
	text-align: center;
}
.subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
}
