<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="/" class="header__link">
        <img src="./img/teensafe-logo.svg" alt="logo">
      </a>
      <nav class="nav">
        <a href="" class="nav__item dropdown"><span>Products</span>
          <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
          </svg>
        </a>
        <a href="" class="nav__item dropdown">
          <span>Features</span>
          <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
          </svg>

        </a>

        <a href="" class="nav__item">Demo</a>
        <a href="" class="nav__item">Pricing</a>
        <a href="" class="nav__item">Blog</a>
      </nav>
      <a href="" class="btn header-btn">Sign Up Free</a>
    </div>
  </div>
</header>
