<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <img src="./img/teensafe-logo.svg" alt="logo">
      <nav>
        <a href="" class="nav__item dropdown">Products</a>
        <a href="" class="nav__item dropdown">Features</a>
        <a href="" class="nav__item">Demo</a>
        <a href="" class="nav__item">Pricing</a>
        <a href="" class="nav__item">Blog</a>
      </nav>
      <a href="" class="btn header-btn">Sign Up Free</a>
    </div>
  </div>
</header>
