<header class="header">
    <div class="header-wrapper">
      <a href="/" class="header__link">
        <img src="./img/teensafe-logo.svg" alt="logo">
      </a>
      <nav class="nav">
        <div class="desktop-dropdown__wrapper">
          <a href="" class="nav__item dropdown"><span>Products</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
            </svg>
          </a>
          <div class="dropdown-content">
            <a href="" class="dropdown-content__item">Call Tracking</a>
            <a href="" class="dropdown-content__item">Message Monitoring</a>
            <a href="" class="dropdown-content__item">Location</a>
          </div>
        </div>
        <div class="desktop-dropdown__wrapper">
          <a href="" class="nav__item dropdown">
            <span>Features</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
            </svg>

          </a>
          <div class="dropdown-content">
            <a href="" class="dropdown-content__item">Call Tracking</a>
            <a href="" class="dropdown-content__item">Message Monitoring</a>
            <a href="" class="dropdown-content__item">Location</a>
          </div>
        </div>
       
        <a href="" class="nav__item">Demo</a>
        <a href="/price.html" class="nav__item">Pricing</a>
        <a href="/blog.html" class="nav__item">Blog</a>
      </nav>
      <a href="/register.html" class="btn header-btn">Sign Up Free</a>
      
      <div class="login-pad"></div>
      <div class="login-header"id="open_pop_up">
        <svg class="login"  width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0424 17.0757C8.11974 17.0757 0.290192 19.6642 0.290192 24.8027V28.6661H23.7947V24.8027C23.7947 19.6642 15.9651 17.0757 12.0424 17.0757Z" fill="#072B62"/>
          <path d="M12.0424 14.5001C15.7037 14.5001 18.6719 11.3289 18.6719 7.41704C18.6719 3.50518 15.7037 0.333984 12.0424 0.333984C8.38105 0.333984 5.41293 3.50518 5.41293 7.41704C5.41293 11.3289 8.38105 14.5001 12.0424 14.5001Z" fill="#072B62"/>
          </svg>
           
        <div class="login-menu" id="pop_up">
          <div class="login__info">
            <div class="password">
              <a href="#">
                Change password
              </a></div>
             <div class="logout">
               <a href="#">
                Log out
               </a> </div>
           </div>
      </div>
        </div>
          <a href="/register.html" class="btn login-btn">Buy Now</a>    
      
    </div>
   
    <div class="tablet-header-wrapper">
      <div class="tablet-header">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="tablet-header--items">
            <a href="/" class="header__link">

            <img src="./img/teensafe-logo.svg" alt="logo">
          </a>

            <a href="/register.html" class="btn header-btn">Sign Up Free</a>
            <div class="login-header"id="open_pop_up">
        <svg class="login"  width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0424 17.0757C8.11974 17.0757 0.290192 19.6642 0.290192 24.8027V28.6661H23.7947V24.8027C23.7947 19.6642 15.9651 17.0757 12.0424 17.0757Z" fill="#072B62"/>
          <path d="M12.0424 14.5001C15.7037 14.5001 18.6719 11.3289 18.6719 7.41704C18.6719 3.50518 15.7037 0.333984 12.0424 0.333984C8.38105 0.333984 5.41293 3.50518 5.41293 7.41704C5.41293 11.3289 8.38105 14.5001 12.0424 14.5001Z" fill="#072B62"/>
          </svg>
           
        <div class="login-menu" id="pop_up">
          <div class="login__info">
            <div class="password">
              <a href="#">
                Change password
              </a></div>
             <div class="logout">
               <a href="#">
                Log out
               </a> </div>
           </div>
      </div>
        </div>
          <a href="/register.html" class="btn login-btn">Buy Now</a> 
          </div>
          

      </div>
      <div class="tablet-header__menu hidden">
        <nav class="nav">
          <a  class="nav__item dropdown"><span>Products</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
            </svg>
          </a>
          <div class="dropdown-content dropdown-content-tablet">
            <a href="" class="dropdown-content__item">Call Tracking</a>
            <a href="" class="dropdown-content__item">Message Monitoring</a>
            <a href="" class="dropdown-content__item">Location</a>
          </div>
          <a  class="nav__item dropdown">
            <span>Features</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5 5L9 1" stroke="#152640" stroke-width="2"/>
            </svg>
          </a>
          <div class="dropdown-content dropdown-content-tablet">
            <a href="" class="dropdown-content__item">Call Tracking</a>
            <a href="" class="dropdown-content__item">Message Monitoring</a>
            <a href="" class="dropdown-content__item">Location</a>
          </div>

          <a href="" class="nav__item">Demo</a>
          <a href="/price.html" class="nav__item">Pricing</a>
          <a href="/blog.html" class="nav__item">Blog</a>
        </nav>
        <a href="/register.html" class="btn header-btn">Sign Up Free</a>
      </div>
    </div>
</header>
