// !media 1150
@media screen and (max-width: 1150px) {
}
// !media 1024
@media screen and (max-width: 1024px) {
}
// !media 768
@media screen and (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&__hamburger {
			width: 32px;
			height: 32px;
			display: block;
			background: transparent;
			border: transparent;
			z-index: 1000;
		}
		&__menu {
			display: block;
			width: 100%;
			height: 3px;
			background-color: rgb(0, 0, 0);
			position: relative;
		}
		&__menu + &__menu {
			margin-top: 7px;
		}
		&__menu:nth-child(1) {
			animation: ease 0.5s top-back forwards;
		}
		&__menu:nth-child(2) {
			animation: ease 0.5s middle-back forwards;
			width: 100%;
			max-width: 16px;
		}
		&__menu:nth-child(3) {
			animation: ease 0.5s bottom-back forwards;
			width: 100%;
			max-width: 12px;
		}
		&__form {
			margin: 0 34px;
		}
		&__icon {
			display: none;
		}
	}
	.nav {
		display: block;
		&__menu {
			position: fixed;
			height: 100%;
			width: 100%;
			left: -100%;
			top: 0;
			padding: 72px 16px 29px 16px;
			overflow: auto;
			transition: left 0.5s ease;
			background-color: $color__light-white;
			z-index: 100;
		}
		&__item-two {
			margin: 0 0 193px 0;
			padding: 24px 0;
			border-top: 1px solid $color__light-white_two;
			border-bottom: 1px solid $color__light-white_two;
		}
		&__list {
			display: flex;
			align-items: center;
			margin: 0 0 20px 0;
			position: relative;
			&:last-child {
				margin: 0 0 34px 0;
			}
			&::after {
				content: "";
				width: 8px;
				height: 14px;
				position: absolute;
				right: 0;
				background-image: url(../img/arrow.svg);
				background-repeat: no-repeat;
			}
			&-two {
				margin: 0 0 16px 0;
				&:last-child {
					margin: 0 0 0 0;
				}
			}
		}
		&__link {
			margin: 0 0 0 20px;
			@include font($font__nunito, 600, 16px, 20px, $color__night-black);
			&-two {
				@include font($font__nunito, 400, 16px, 20px, $color__night-black);
			}
		}
		&__support {
			display: flex;
			&-preview {
				margin: 0 0 0 18px;
				&__title {
					@include font($font__nunito, 800, 16px, 20px, $color__night-black);
				}
				&__subtitle {
					@include font($font__nunito, 400, 14px, 20px, $color__light-gray);
					margin: 4px 0 12px 0;
				}
				&__button {
					@include font($font__nunito, 700, 12px, 14px, $color__night-black);
					padding: 9px 0;
					width: 100%;
					max-width: 82px;
					background-color: inherit;
					border: 1px solid #cfd8dc;
					border-radius: 87px;
				}
			}
		}
	}
	.active {
		.nav__menu {
			left: 0;
		}
		.header {
			&__logo {
				display: none;
			}
			&__form {
				display: none;
			}
			&__account {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				z-index: 1000;
				&-description {
					display: block;
					&-text {
						@include font($font__nunito, 600, 16px, 20px, $color__night-black);
						background-color: inherit;
					}
				}
			}
			&__menu:nth-child(1) {
				animation: ease 0.5s top forwards;
				width: 100%;
				max-width: 23px;
			}
			&__menu:nth-child(2) {
				animation: ease 0.5s middle forwards;
				width: 100%;
				max-width: 23px;
			}
			&__menu:nth-child(3) {
				animation: ease 0.5s bottom forwards;
				width: 100%;
				max-width: 23px;
			}
			$top: 10px;
			@keyframes top {
				0% {
					top: 0;
					transform: rotate(0);
				}
				50% {
					top: $top;
					transform: rotate(0);
				}
				100% {
					top: $top;
					transform: rotate(45deg);
				}
			}
			@keyframes top-back {
				0% {
					top: $top;
					transform: rotate(45deg);
				}
				50% {
					top: $top;
					transform: rotate(0);
				}
				100% {
					top: 0;
					transform: rotate(0);
				}
			}
			@keyframes middle {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(0);
				}
				100% {
					transform: scale(0);
				}
			}
			@keyframes middle-back {
				0% {
					transform: scale(0);
				}
				50% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
			@keyframes bottom {
				0% {
					bottom: 0;
					transform: rotate(0);
				}
				50% {
					bottom: $top;
					transform: rotate(0);
				}
				100% {
					bottom: $top;
					transform: rotate(135deg);
				}
			}
			@keyframes bottom-back {
				0% {
					bottom: $top;
					transform: rotate(135deg);
				}
				50% {
					bottom: $top;
					transform: rotate(0);
				}
				100% {
					bottom: 0;
					transform: rotate(0);
				}
			}
		}
	}
	.main {
		&__inner {
			&-top {
				flex-direction: column;
				margin: 0 0 20px 0;
			}
			&-title {
				@include font($font__nunito, 900, 38px, 40px, $color__night-black);
				margin: 0 0 8px 0;
			}
			&-subtitle {
				@include font($font__nunito, 300, 19px, 24px, $color__night-black);
				margin: 0 0 32px 0;
			}
		}
		&__features-item {
			grid-template-columns: 92px 92px 92px;
			grid-template-rows: 92px 92px;
			grid-row-gap: 30px;
			padding: 30px 15px;
		}
		&__features-list__description-text {
			margin: 20px 0 0 0;
			@include font($font__nunito, 700, 14px, 20px, $color__night-black);
		}
	}
}
// !media 425
@media screen and (max-width: 425px) {
}
// !media 320
@media screen and (max-width: 320px) {
}
