$blue-color: #269DD5;
$text-color: #152640;
$hover-color: #072B62;

.auth {
  &__subtitle-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #152640;
    text-align: center;
  }
  &__group {
    margin: 0;
    &-title {
      &:focus {
        color: transparent;
      }
    }
  }
}

