.blog__all-items {
    display: flex;
   padding-top: 48px;
   position: relative;
}

.table {
    margin-right: 32px;
position: sticky;
top: 120px;
 min-width: 273px;
 max-height: 399px;
 border: 1px solid #fff;
 border-radius: 4px;
 box-shadow: 0px 0px 20px #DCE7F1;
 &__title {
     padding: 24px 11px;
     h3 {
        font-size: 24px;
        line-height: 29px;
        color: #072B62;
        text-align: center;
     }
 }
 &__items {
     padding: 0;
     li {
         padding-bottom: 12px;
         list-style-type: none;
         padding-left: 28px;
   padding-top: 6px;
    padding-bottom: 6px;
        &:hover {
            border-left: 4px solid #072B62;
            border-radius: 0px 2px 1px 0px;
            background:#F2F9FF;
            padding-left: 24px;
        }
     }
     a {
        font-size: 14px;
        line-height: 150%;
        align-items: center;
        color: #152640;
        text-decoration: none;


     }
 }
}

.blog {
    min-width: 835px;
    .blog__image {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .blog__comments-inner {
        width: 100%;
    }
    &__title {
        h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        padding: 0 0 24px 0;
        color: #152640;
        }
    }
    &__update {
        display: flex;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 20px #DCE7F1;
        padding: 14px;
        &-date {
            font-size: 14px;
            line-height: 150%;
            padding-right: 24px;
        }
        &-comments {
            font-size: 14px;
            line-height: 150%;
            padding-left: 32px;
            position: relative;
           &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            left: 6px;
            top: 2px;
            background-image: url(../img/comment.webp);
            background-repeat: no-repeat;

           }
        }
    }
    &__article-title {
       h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        padding: 24px 0;
       }
    }
    &__article-text {
        p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        }
    }


    &__image {
        img {
            padding: 24px 0;
        }
    }



    &__comments {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        padding-bottom: 177px;
        &-inner {
            max-width: 835px;
            margin-left: 19rem;
        }
        &-article {
            padding: 92px 0 45px 0;
        }
        &-user {
            max-width: 313px;
            display: flex;
            padding-bottom: 16px;
            &__info{
                padding-top: 6px;
                padding-left: 12px;
            }
            .user__info-name {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;

                a {
                    color: #152640;
                }
            }
            .user__info-date {
                font-size: 18px;
                line-height: 32px;
                color: #898989;
            }
        }
       &-moderation {
           &__title {
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            color: #152640;
            padding-bottom: 24px;
           }
           .blog__comment {
            width: 835px;
            border: 1px solid #96ADD1;
            border-radius: 4px;
            p {
                padding: 20px;
                font-size: 18px;
                line-height: 32px;
                color: #152640;
            }
            .button {
               padding: 20px;
                a {
                    font-weight: 600;
                    padding: 6px 35px;
                    border: 1px solid #269DD5;
                    border-radius: 4px;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 22px;
                    color: #269DD5;
                }
            }
           }
       }
    }

    &__user {
        background: #FFFFFF;
        box-shadow: 0px 0px 20px #DCE7F1;
        border-radius: 4px;
        width: 835px;
        padding: 24px 22px;
        padding-bottom: 16px;
        max-height: 273px;
        &-1{
            padding-bottom: 16px;
        }
        &-2 {
            padding-bottom: 16px;
        }
        .button {
          padding-top: 12px;
          padding-bottom: 24px;
            a {
                border: 1px solid #269DD5;
                border-radius: 4px;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #269DD5;
                padding: 6px 35px;
            }
        }
        &-title {
            font-size: 24px;
            line-height: 29px;
            color: #152640;
            padding: 35px 0 1px;
            h2 {
                padding-bottom: 16px;
            }
        }
        &-name {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 6px;

            a {
                color: #152640;

                text-decoration: none;
            }
        }
        &-date {
            font-size: 18px;
            line-height: 32px;
            color: #898989;
            opacity: 0.6;
            border-bottom: 1px solid #072B62;
            padding-bottom: 12px;
        }
        &-text {
            font-size: 18px;
            line-height: 32px;
            color: #152640;
            padding-top: 12px;
        }
        .user__reply {
            display: flex;
            position: relative;
            .blog__user-name--reply {
                padding-left: 30px;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #152640;
                opacity: 0.4;
                a {
                    color: #152640;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: 4px;
                    left: 6.7rem;
                    background-image: url(../img/reply.webp);
                    background-repeat: no-repeat;

                   }
            }

        }
        &-reply {
            padding-left: 30px;
            border-left: 1px solid #269DD5;
            .blog__user {
                width: 806px;
            }
        }
    }

}
form {

    .input__form {
        width: 230px;
        padding: 10px 10px;
        margin-right: 24px;
        font-size: 18px;
        border: 1px solid #96ADD1;
        background-color: transparent;
		border-radius: 4px;
        transition: border .3s linear;
        border-radius: 4px;
        input:valid {
           border: 1px solid #C80202;
           &::placeholder {
            color: #C80202;
           }
           }
        &:hover {
            border: 1px solid #072B62;
			transition: all 0.3s ease-in-out;
        }
        &::placeholder {
            font-size: 18px;
            line-height: 32px;
            padding: 10px 0 10px 3px;
            color: #96ADD1;

        }
        &:focus::placeholder {
            color: transparent;
          }
    }
    .form__text {
        padding-bottom: 24px;
        textarea {
            border-radius: 4px;
            margin-top: 24px;
            width: 835px;
            height: 245px;
            resize: none;
            background-color: transparent;
            border: 1px solid #96ADD1;
            padding: 10px 10px;
			border-radius: 4px;
						transition: all 0.3s ease-in-out;

            &::placeholder {
                font-size: 18px;
                line-height: 32px;
                color: #96ADD1;
            }
            &:hover {
                border: 1px solid #072B62;
			transition: all 0.3s ease-in-out;

            }
            &:focus::placeholder {
                color: transparent;
              }
        }

    }

    .form__checkbox {
        .label {
            padding-top: 4px;
        }
        .form-text {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #152640;
            padding-bottom: 34px;
            padding-left: 29px;
    margin-top: -22px;
        }
        .checkbox {
            display: none;
        }
        .fake {
            border-radius: 2px;
            padding-top: 6px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #269DD5;
            position: relative;
            cursor: pointer;
            transition: all .2s;


            &:hover {
                border: 1px solid #072B62;

            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 20px;
                height: 20px;
                background-color: #072B62;
                border-radius: 2px;
                opacity: 0;
                transition: .2s;
            }
            &::after {
                content: "";
                position: absolute;
                width: 9px;
                height: 7px;
                left: 4px;
                background-image: url(../img/vector.webp);
                opacity: 0;
            }
        }
        .checkbox:checked + .fake::before {
            opacity: 1;
        }
        .checkbox:checked + .fake::after{
            opacity: 1;
        }
    }

    .form__button {
        padding-top: 5px;
        padding-bottom: 115px;
        a {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            background: #269DD5;

border-radius: 4px;
padding: 14px 30px 14px 31px;
transition: all .3s;
box-shadow: 0px 0px 20px rgba(17, 148, 210, 0.31);
&:hover {
    background: #072B62;
}
        }

    }

}








@media (max-width: 1367px) {

}

@media (max-width: 1357px) {

}

@media (max-width: 1332px) {
    .blog {
      width: 100%;
      min-width: inherit;
    }
    .blog__comments-moderation .blog__comment {
        width: 100%;
    }
    .blog__user {
        width: 100%;
    }
    .blog__user-reply .blog__user {
        width: 100%;
    }
    form .form__text textarea {
        width: 100%;
    }
}





@media (max-width: 1302px) {
    .blog__user-text {
        font-size: 17px;
    }
}



@media (max-width: 1056px) {
    .table {
        display: none;
    }
    .blog__comments-inner {
        padding-left: 0;
        margin: 0;
        width: 100%;
    }
    .blog {
        padding-left: 0;
    }
}

@media (max-width: 1024px) {
    .blog__article-title h2 {
        font-weight: 600;
    }
}




@media (max-width: 878px) {

    .blog__comments-moderation .blog__comment {
        width: 100%;
    }
    .blog__user {
        width: 100%;
    }
    .blog__update {
        margin-bottom: 17px;
    }
    .blog__user-name {
        font-size: 16px;
        line-height: 2px;
        padding-bottom: 1px;
    }
    .blog__user-date {
        font-size: 14px;
        line-height: 32px;
        padding-bottom: 0px;
        padding-top: 13px;
    }
    .blog__user-text {
        font-size: 13px;
        line-height: 22px;
        padding-top: 4px;
    }
    .blog__user-reply .blog__user {
        width: 100%;
    }
    .blog__user .user__reply .blog__user-name--reply {
        line-height: 4px;
        &::before {
            top: -5px;
            left: 6.1rem;
        }
    }
    form {
        .input__form {
            display: block;
            margin-bottom: 14px;
        }
        .form__text {
            textarea {
                width: 100%;
            }
        }

    }

}

@media (max-width: 867px) {
    form .form__text textarea {
        margin-top: 0;
    }
}

@media (max-width: 684px) {
    form {
        .input__form::placeholder {
            font-size: 14px;
        }

    }
    form .form__text textarea::placeholder {
        font-size: 14px;
    }



}

@media (max-width: 678px) {
    .blog__article-title h2 {
        font-size: 18px;
        line-height: 22px;
        color: #152640;
 }
    form .form__checkbox .form-text {
       font-weight: 400;
      
    }
}

@media (max-width: 608px) {
    .blog__update {
        display: block;
    }
    .blog__update-date {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .blog__update-comments {
        font-size: 14px;
        &::before {
            content: '';
            left: 6px;
            top: 1px;
        }
     }
}

@media (max-width: 474px) {
    form {
        .form__button {
            text-align: center;
        }
    }
}


@media (max-width: 426px) {
    .blog__title {
        h1 {
            font-size: 26px;
            line-height: 33px;
        }
    }
    .blog__comments-moderation .blog__comment, .blog__user {
        width: 289px;
    }
    .blog__user-reply {
        padding-left: 10px;
    }
    .blog__user-reply .blog__user {
        width: 280px;
    }
    form .form__text textarea {
        width: 285px;
    }
    form .form__checkbox .form-text {
        font-size: 14px;
    }
}
