.section__error {
	min-height: 100vh;
	background-image: url(../img/auth__fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.error {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-img {
			margin: 47px 0 53px 0;
			&-error {
				max-width: 100%;
			}
		}
		&-button {
			padding: 18px 0;
			width: 100%;
			max-width: 498px;
		}
	}
}
