@import "base/*.scss";

$color__light-orange: #ffa801;
$color__light-gray: #6c757d;
$color__light-white: #ffffff;

$color__night-black: #152536;
$color__night-black_two: #000000;

$font__montserrat: Montserrat;
$font__mulish: Mulish;
$font__inter: Inter;

