.price {
  padding-top: 56px;
}
.price-title, .price-subtitle {
  text-align: center;
}
.price-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 16px;
  margin-bottom: 28px;
  color: #96ADD1;
}
