$blue-color: #269dd5;
$text-color: #152640;
$hover-color: #072b62;

.privacy {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 0 0 9px 0;
    color: #152640;
  }
  &__inner {
    min-height: 100vh;
    padding: 78px 0 0 0;
    background-image: url(../img/privacy-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    &-description-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;

      color: #152640;
      margin: 0 0 24px 0;
    }
    &-title-text {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;

      color: #152640;
      margin: 0 0 24px 0;
    }
    &-des-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      margin: 0 0 50px 0;
      color: #152640;
      &:last-child {
        margin: 0;
      }
    }
  }
}
